:root {
    --menu-width: 360px; 
    --menu-bg: #2b4d9c;
    --primary-color: #3950A6; 
    --link-hover: #F5C22C; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #ffffff;
    color: #000;
    overflow-x: hidden; 
    transition: margin-left 0.3s ease; 
}

#menulat {
    display: none !important;
}

.topo {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    gap: 10px;
    transition: margin-left 0.3s ease;
}


.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 22px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}


.menu-btn div {
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 3px;
}


.sino {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-left: 5px;
}


.logo-area img {
    height: 50px;
    object-fit: contain;
}


.barra-pesquisa {
    margin-left: 30px;
    width: 55%;
    height: 38px;
    border-radius: 12px;
    padding: 0 15px;
    border: 2px solid #ccc;
    font-size: 15px;
}

.menulateral {
    position: fixed;
    left: calc(0px - var(--menu-width)); 
    top: 0;
    width: var(--menu-width);
    height: 100%;
    background-color: #2b4d9c; 
    color: white;
    padding: 25px;
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#menulat:checked ~ .menulateral {
    left: 0;
}

#menulat:checked ~ .topo,
#menulat:checked ~ .conteudo {
    margin-left: var(--menu-width);
}


.topo-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 25px;
}

.menulateral .logomen {
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.menulateral h2 {
    color: white;
    font-size: 22px;
    margin: 0;
}

.menulateral ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    flex-grow: 1; 
}

.menulateral li {
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.menulateral .icones {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    filter: invert(1);
    transition: filter 0.2s;
}

.menulateral ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.2s;
}

.menulateral ul li:hover a,
.menulateral ul li:hover .icones {
    color: #F5C22C; 
    filter: invert(70%) sepia(85%) saturate(500%) hue-rotate(3deg) brightness(100%) contrast(100%); 
}

.logout {
    margin-top: 30px;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.logout:hover {
    background-color: #F5C22C; 
    color: #2f52a2; 
    transition: 0.3s;
}
.logout:hover .icones {
    filter: none;
}

.conteudo {
    display: flex;
    margin-top: 45px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    color: var(--primary-color);
    transition: margin-left 0.3s ease;
}


h1 {
    font-size: 45px;
    font-weight: bold;
}
.subt {
    color: #000000;
    margin-bottom: 40px;
    margin-top: 25px;
    font-size: 21px;
    font-weight: bold;
}


.input-convite {
    width: 80%;
    max-width: 470px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #000000;
    text-align: center;
    margin-top: 45px;
    padding: 0 12px;
    font-size: 17px;
    cursor: pointer;
}


.botao {
    width: 400px;
    height: 44px;
    margin-top: 100px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.botao:hover {
    background-color: #2b4d9c; 
}


.pergunta {
    margin: 25px;
    font-size: 18px;
    color: #000;
}
.pergunta a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}
.pergunta a:hover {
    text-decoration: underline;
}