* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #faf4e8;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 20px;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

.menu-icon {
    cursor: pointer;
    font-size: 25px;
    color: #2b4d9c;
}

.logo {
    font-weight: bold;
    color: #2b4d9c;
}

.caixa-pesquisa {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px 10px;
  width: 700px; 
  margin-left: 100px;
}

.caixa-pesquisa img.icone-lupa {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.caixa-pesquisa input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
}

.noti {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-left: 2px;
    color: #2b4d9c;
}

.imglogo {
    width: 50px;
    height: 50px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.container {
    padding: 40px 60px;
}

.container h1 {
    font-size: 28px;
    color: #2b4d9c;
    margin-bottom: 10px;
}

.container p {
    font-size: 16px;
    color: #555;
}

.botao {
    width: 300px;
    padding: 12px;
    background-color: #2f52a2;
    color: #F5C22C;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 18px 0 0 0;
    display: block;          
    text-align: center;
    text-decoration: none;
}


:root {
    --menu-width: 360px;
}


.menulateral {
    position: fixed;
    left: -360px; 

    top: 0;
    width: var(--menu-width);
    height: 100%;
    background-color: #2b4d9c; 
    color: white;
    padding: 25px;
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


#menulat:checked ~ .menulateral {
    left: 0;
    
}

#menulat:checked ~ main.content-container {
    margin-left: var(--menu-width);
}

.topo-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 25px;
}

.menulateral .logomen {
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.menulateral h2 {
    color: white;
    font-size: 22px;
    margin: 0;
}

.menulateral ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    flex-grow: 1; 
}

.menulateral li {
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.menulateral .icones {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    filter: invert(1);
}

.menulateral ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.2s;
}

.menulateral ul li:hover a,
.menulateral ul li:hover .icones {
    color: #F5C22C; 
    filter: invert(70%) sepia(85%) saturate(500%) hue-rotate(3deg) brightness(100%) contrast(100%); 
}

.logout {
    margin-top: 30px;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logout:hover {
    background-color: #F5C22C; 
    color: #2f52a2; 
    transition: 0.3s;
}